<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=AEVIUsers.V1.00;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Serv1" connectionString="Data Source=TCP:127.0.0.1\SQLE14,14001;Initial Catalog=Misc;Integrated Security=False;User ID=WEB-Server;Password=WEB-Server" providerName="System.Data.SqlClient"/>
		<add name="Serv2" connectionString="Data Source=TCP:127.0.0.1\SQLE14,14001;Initial Catalog=Misc;Integrated Security=False;User ID=WEB-Server;Password=WEB-Server" providerName="System.Data.SqlClient"/>
    <add name="Trans1" connectionString="Data Source=TCP:127.0.0.1\SQLE14,14001;Initial Catalog=UASTest;Integrated Security=False;User ID=WEB-Server;Password=WEB-Server" providerName="System.Data.SqlClient"/>
    <add name="Trans2" connectionString="Data Source=TCP:127.0.0.1\SQLE14,14001;Initial Catalog=UASTest;Integrated Security=False;User ID=WEB-Server;Password=WEB-Server" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="Logpath" value="D:\temp"/>
		<add key="LocalDb" value="false"/>
		<add key="ChannelsName" value="TestChannel"/>
		<add key="ChannelsArray" value="TestChannel;127.0.0.1:14002;userWEBTestServer;keyASDF8765"/>
		<add key="SmtpHost" value="mail.utd-inc.com"/>
		<add key="SmtpPort" value="25"/>
		<add key="SmtpUseSSL" value="false"/>
		<add key="SmtpUserName" value="info@utd-inc.com"/>
		<add key="SmtpPassword" value="1789Inf^^^"/>
		<add key="SmtpFrom" value="info@utd-inc.com"/>
    <add key="MaxCntBlockCard" value="100"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="10" slidingExpiration="true"/>
		</authentication>
		<membership defaultProvider="LocalMembershipProvider">
			<providers>
				<clear/>
				<add name="LocalMembershipProvider" type="LocalMembershipProvider" connectionStringName="" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
				<add namespace="AEVIWeb.Helpers"/>
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="default-src 'self';"></add>
				<add name="X-Frame-Options" value="DENY"></add>
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <add name="X-Content-Type-Options" value="nosniff"></add>
        <add name="Strict-Transport-Security" value="max-age=31536000"></add>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
